seqdb:
    url: "***REMOVED***"       # e.g. "***REMOVED***/api/v1/"

http_connect:
    debug_level: 0 # 0 - No output, 1 - Output to stderr

logging:

    version: 1
    disable_existing_loggers: true

    formatters:
        simpleFormatter:
            format: '%(asctime)s - %(module)s - %(levelname)s: %(message)s'
            datefmt: '%Y/%m/%d %H:%M:%S'

    handlers:
        console:
            class: logging.StreamHandler
            formatter: simpleFormatter
            level: WARN
            stream: ext://sys.stdout
        file:
            class : logging.FileHandler
            formatter: simpleFormatter
            level: INFO
            filename: tools.log
        debug:
            class : logging.FileHandler
            formatter: simpleFormatter
            level: DEBUG
            filename: tools_debug.log

    root:
        level: INFO # Not producing debug info by default
        handlers: [console, file, debug]
