lims:
    sql_api:
        url: "<URL to GeneSifter LE SQL API>"  # e.g. "***REMOVED***/SQLApi"
        key: "<api key for GSLE (found in GSLE webapp)>"
        
    db:
        host: "<GSLE db host>"
        name: "<GSLE db name>" 
        user: "<GSLE db user>"
        password: ""
        sample_chromat_query: "SELECT contents FROM chromat_file WHERE chromat_id=7851;"

    query_ids:  # Queries are saved in GSLE webapp and given an id
        get_sample_chromat: "<id of a query that returns one sample chromatogram>" # e.g. 3721 
        get_completed_chromats: "<id of a query that returns all completed chromatograms>" 

seqdb:
    api:
        url: "<seqdb api url>"       # e.g. "http://10.117.203.142:10000/seqdb.web/api/v1/"
        key: "<seqdb api key>"    # from user profile in SeqDB Web Interface

logging:

    version: 1
    disable_existing_loggers: true

    formatters:
        simpleFormatter:
            format: '%(asctime)s - %(module)s - %(levelname)s: %(message)s'
            datefmt: '%Y/%m/%d %H:%M:%S'

    handlers:
        console:
            class: logging.StreamHandler
            formatter: simpleFormatter
            level: WARN
            stream: ext://sys.stdout
        file:
            class : logging.FileHandler
            formatter: simpleFormatter
            level: INFO
            filename: tools.log
        debug:
            class : logging.FileHandler
            formatter: simpleFormatter
            level: DEBUG
            filename: tools_debug.log

    root:
        level: INFO # Not producing debug info by default
        handlers: [console, file, debug]
