#
# This information is used to run the unit tests for the API and scripts.
# BIG NOTE: tests are executed agains the url and api key provided here,
#			therefore do not set this URL to production. Ever.
# NOTE 2:	the tests depend on the information in the database and the
#			groups that API Key user is subscribed to, so they may fail	
#			first. You'd need to change the expected values for some tests.

seqdb:
    api_url: "http://<SeqDB url>/api/v1/"       # e.g. "http://localhost:2002/seqdb.web/api/v1/"
    api_key: ""
