# root config.yaml
seqdb:
    url: "***REMOVED***:2002/seqdb/"       # e.g. "***REMOVED***/api/v1/"
    #url: "http://<HOSTNAME>[:PORT]/<path>"       # e.g. "***REMOVED***/api/v1/"

galaxy:
    ncbi_taxonomy_dir: ./scripts/taxonomy/		# e.g. "***REMOVED***/api/v1/"
    #ncbi_taxonomy_dir: ./data/ncbi_taxonomy/	# e.g. "***REMOVED***/api/v1/"

http_connect:
    debug_level: 0 # 0 - No output, 1 - Output to stderr

logging:

    version: 1
    disable_existing_loggers: true

    formatters:
        simpleFormatter:
            format: '%(asctime)s - %(module)s - %(levelname)s: %(message)s'
            datefmt: '%Y/%m/%d %H:%M:%S'

    handlers:
        console:
            class: logging.StreamHandler
            formatter: simpleFormatter
            level: WARN
            stream: ext://sys.stdout
        file:
            class : logging.FileHandler
            formatter: simpleFormatter
            level: INFO
            filename: seqdb_tools.log
        debug:
            class : logging.FileHandler
            formatter: simpleFormatter
            level: DEBUG
            filename: seqdb_tools_debug.log

    root:
        level: INFO # Not producing debug info by default
        handlers: [console, file, debug]
