seqdb:
    apikey: "seqdb_api_key"    # from user profile in SeqDB Web Interface

entrez:
    email: "your-name@your-institution.org"          # e.g. christopher.lewis@agr.gc.ca
    query: "(*DAOM*[source] and levesque and btub) and not shotgun"
    cache: "entrez_cache"                            # file to hold cache of retrived entrez records

# TODO permit a list of queries?
    #query: "(*DAOM*[source] and levesque and btub) and not shotgun"

gb_insert:
    delete: False   # if True, delete existing records and recreate them (experimental)
    update: False   # if True, update existing sequence records (experimental)
